        html,
        body {
            width: auto!important;
            overflow-x: hidden!important
        }
        
        .navbar.transparent.navbar-inverse .navbar-inner {
            border-width: 0px;
            -webkit-box-shadow: 0px 0px;
            box-shadow: 0px 0px;
            background-color: rgba(0, 0, 0, 0.0);
            background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0%, rgba(0, 0, 0, 0.00)), color-stop( 100%, rgba(0, 0, 0, 0.00)));
            background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
        }
        /*#services {
    padding: 35px 0;
}
.page-section {
    width: 100%;
    height: auto;
    padding: 35px 0;
}
.profile-circel-image-200 img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}
.vv img {
    transition: all 0.3s ease;
    cursor: pointer;
}
.vv img:hover {
    opacity: 0.8;
    box-shadow: 0px 0px 5px 8px rgba(0,0,0,0.08);
}
*/
        
        @media (max-width:500px) {
            .contact_mobv {
                font-size: 9px!important;
            }
            .footer_1 {
                display: none;
            }
            .footer_2 {
                display: block !important;
            }
            .footer_4 {
                display: none;
            }
            .footer_2>aside {
                margin-left: 46px !important;
            }
            .uni-social ul {
                margin-left: 55px !important;
            }
            .footer-default .footer-main-content .footer-main-content-element {
                margin-bottom: unset !important;
            }
            .desktop_verion_ps {
                display: none;
            }
            .mobile_verion_ps {
                display: block!important;
            }
            .mob_plastic_surgery {
                margin-left: 90px;
                margin-top: -26px;
            }
            .mob_ps_hd {
                margin-top: unset!important;
            }
            .uni-our-service-2-body {
                display: none;
            }
            .contact_mobile {
                display: block!important;
            }
            .uni-gallery-body {
                display: none;
            }
            .watch_1 {
                padding: 7px 11px;
            }
            .watch_2 {
                padding: 7px 10px;
            }
        }
        
        .uni-partner-background .partner-item {
            position: relative;
            border-radius: 194px;
            background-color: #e0e0e0;
            height: 252px;
            width: 96%;
            height: 215px;
            border-radius: 50%;
            background: #fff;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            position: relative;
            margin: 10px 0px 10px 0px;
            padding: 25px 25px 25px 25px;
            background-color: #FFFFFF8F;
            border-style: solid;
            border-width: 2px 2px 2px 2px;
            border-color: #bfbed5;
        }
        
        .uni-home-title {
            padding-bottom: 15px!important;
        }
        
        .footer-default .footer-main-content .uni-quick-link ul li a {
            font-size: 15px !important;
            line-height: 1.60 !important;
            color: #b2becc !important;
        }
        
        .footer-default .footer-main-content .uni-quick-link ul li {
            border-bottom: unset !important;
        }
        
        .footer-default .footer-main-content .widget-title {
            font-size: 21px !important;
            font-weight: 300 !important;
            line-height: 1.1em !important;
            letter-spacing: normal !important;
            text-align: left !important;
            color: #ffffff !important;
            padding-bottom: 12px !important;
        }
        
        .footer-default .footer-main-content .uni-info-contact ul li {
            color: #b2becc !important;
        }
        
        .footer-default .footer-main-content .uni-footer-newletter .uni-social ul li a {
            border-radius: 20px;
        }
        
        .footer-default .footer-main-content .uni-footer-newletter .uni-social {
            padding-top: 8px !important;
            margin-top: 24px;
        }
        
        .footer-default .footer-main-content .uni-footer-newletter .uni-social h4 {
            font-size: 17px !important;
            line-height: 2.14 !important;
            color: #b2becc !important;
            text-transform: unset !important;
            margin-top: 20px;
        }
        
        .footer-default .copyright-area {
            background-image: unset !important;
            background-blend-mode: unset !important;
            ;
            background-color: #223950 !important;
        }
        
        #toTop {
            display: none !important;
        }
        
        .footer-default .copyright-area p a {
            color: #b2becc!important;
        }
        
        .footer-default .copyright-menu a {
            color: #b2becc!important;
        }
        
        .footer-default .copyright-menu a:hover {
            color: #b2becc!important;
        }
        
        .e-hotspot__inner-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #3aafb0;
            padding: calc(var(20px, 18px) / 2);
        }
        
        .e-hotspot__inner-circle,
        .e-hotspot__outer-circle {
            content: "";
            display: inline-block;
            box-sizing: content-box;
            border-radius: 50%;
        }
        
        .overlay {
            height: 100%;
            width: 100%;
            display: none;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #FFFFFF;
            background-color: rgba(255, 254, 254, 0.9);
        }
        
        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }
        
        .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }
        
        .overlay a:hover,
        .overlay a:focus {
            color: #f1f1f1;
        }
        
        .overlay .closebtn {
            position: absolute;
            top: 233px;
            left: 18%;
            font-size: 60px;
        }
        
        .serch-input {
            margin-top: 18%;
            margin-right: 307px;
            /* margin: auto; */
            width: 55%;
            padding: 17px;
            text-align: center;
            border-radius: 30px;
            border: 1px solid #C6C6C6;
        }
        
        @media screen and (max-height: 450px) {
            /* .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 243px;
        left: 18%;
    }
    */
        }
        /* 
---------------------------------------------
header
--------------------------------------------- 
*/
        
        .sub-header {
            background-color: #1f272b;
            position: relative;
            z-index: 1111;
        }
        
        .sub-header .left-content p {
            color: #fff;
            padding: 8px 0px;
            font-size: 13px;
        }
        
        .sub-header .right-icons {
            text-align: right;
            padding: 8px 0px;
        }
        
        .sub-header .right-icons ul li {
            display: inline-block;
            margin-left: 15px;
        }
        
        .sub-header .right-icons ul li a {
            color: #fff;
            font-size: 14px;
            transition: all .3s;
        }
        
        .sub-header .right-icons ul li a:hover {
            color: #f5a425;
        }
        
        .sub-header .left-content p em {
            font-style: normal;
            color: #f5a425;
        }
        
        .background-header {
            background-color: #fff!important;
            height: 80px!important;
            position: fixed!important;
            top: 0!important;
            left: 0;
            right: 0;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)!important;
        }
        
        .background-header .main-nav .nav li a {
            color: #1e1e1e!important;
        }
        
        .background-header .logo,
        .background-header .main-nav .nav li a {
            color: #1e1e1e!important;
        }
        
        .background-header .main-nav .nav li:hover a {
            color: #fb5849!important;
        }
        
        .background-header .nav li a.active {
            color: #fb5849!important;
        }
        
        .header-area {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 100;
            transition: all 0.5s ease 0s;
            height: 86px;
        }
        
        .bottom-sticky {
            z-index: 999;
            position: sticky;
            left: 0;
            width: 100%;
            background: #3AAFB0;
            height: 70px;
            top: 86px;
            /* Adjusted margin-top to top */
        }
        
        .header-area.sticky {
            background: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            color: #223950;
        }
        
        .header-area.sticky .main-nav .nav li a {
            color: #223950;
            /* Color for the sticky navigation links */
        }
        /* Search icon styles for sticky navigation */
        
        .header-area.sticky .main-nav .search-icon {
            color: #223950;
            /* Color for the sticky navigation search icon */
        }
        /* Styles for the non-sticky navigation */
        
        .header-area.sticky.main-nav .nav li a {
            display: block;
            font-weight: 500;
            font-size: 16px;
            color: #223950;
            transition: all 0.3s ease 0s;
            border: transparent;
            font-family: 'Poppins';
            padding: 20px 10px;
            text-decoration: none;
            /* Remove the default underline */
        }
        
        .header-area.sticky.main-nav .nav li a:hover {
            color: #223950;
            /* Color for the sticky navigation links on hover */
            text-decoration: underline;
            /* Underline on hover */
        }
        /* Dotted border for non-sticky navigation */
        
        .header-area.sticky .main-nav .nav li .dotted {
            border-left: 1px dashed #223950;
            border-right: 1px dashed #223950;
            padding-left: 10px;
            height: 3px;
        }
        /* Search icon styles for non-sticky navigation */
        
        .header-area .main-nav .search-icon {
            cursor: pointer;
            color: white;
            margin: 20px;
        }
        
        .header-area .main-nav {
            min-height: 80px;
            background: transparent;
        }
        
        .header-area .main-nav .logo {
            float: left;
            transition: all 0.3s ease 0s;
            margin: 20px 0px;
        }
        
        .background-header .main-nav .logo {
            line-height: 75px;
        }
        
        .background-header .nav {
            margin-top: 20px !important;
        }
        
        .header-area .main-nav .nav {
            float: right;
            margin-top: 30px;
            margin-right: 0px;
            background-color: transparent;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            position: relative;
            z-index: 999;
        }
        
        .header-area .main-nav .nav li:last-child {
            padding-right: 0px;
        }
        
        .header-area .main-nav .nav li .dotted {
            border-left: 1px dashed #fff;
            border-right: 1px dashed #fff;
            padding-left: 10px;
            height: 3px;
        }
        
        .header-area .main-nav .nav li .search-icon {
            position: absolute;
            left: 5px;
            /* Adjust the position of the search icon */
            top: 50%;
            transform: translateY(-50%);
            fill: #fff;
            /* Set the color of the search icon */
        }
        
        .header-area .main-nav .search-icon {
            cursor: pointer;
            color: white;
            margin: 20px
        }
        
        .header-area .main-nav .search-popup {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 200px;
            /* Adjust the width as needed */
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            padding: 10px;
            z-index: 101;
            /* Make it appear above the header */
        }
        
        .header-area .main-nav .nav li a,
        .background-header .main-nav .nav li a {
            position: relative;
            display: block;
            font-weight: 500;
            font-size: 16px;
            color: #fff;
            transition: all 0.3s ease 0s;
            font-family: 'Poppins';
            padding: 20px 10px;
            text-decoration: none;
            /* Remove the default underline */
        }
        
        .header-area .main-nav .nav li a::before,
        .background-header .main-nav .nav li a::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
            transform: scaleX(0);
            /* Initially no underline */
            transform-origin: bottom right;
            transition: transform 0.3s ease;
        }
        
        .header-area .main-nav .nav li:hover a::before,
        .header-area .main-nav .nav li a.active::before,
        .background-header .main-nav .nav li:hover a::before,
        .background-header .main-nav .nav li a.active::before {
            transform: scaleX(1);
            /* Show underline on hover */
            transform-origin: bottom left;
        }
        
        .header-area .main-nav .nav li.has-sub {
            position: relative;
            padding-right: 15px;
        }
        
        .header-area .main-nav .nav li.has-sub:after {
            font-family: FontAwesome;
            content: "\f107";
            font-size: 12px;
            color: #fff;
            position: absolute;
            right: 5px;
            top: 22px;
        }
        
        .background-header .main-nav .nav li.has-sub:after {
            color: #1e1e1e;
        }
        
        .header-area .main-nav .nav li.has-sub ul.sub-menu {
            position: absolute;
            width: 200px;
            box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
            overflow: hidden;
            top: 40px;
            opacity: 0;
            transition: all .3s;
            transform: translateY(+2em);
            visibility: hidden;
            z-index: -1;
        }
        
        .header-area .main-nav .nav li.has-sub ul.sub-menu li {
            margin-left: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
        
        .header-area .main-nav .nav li.has-sub ul.sub-menu li a {
            opacity: 1;
            display: block;
            background: #f7f7f7;
            color: #2a2a2a!important;
            padding-left: 20px;
            height: 40px;
            line-height: 40px;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            position: relative;
            font-size: 13px;
            font-weight: 400;
            border-bottom: 1px dashed #928e8e;
            padding-top: 4px;
        }
        
        .header-area .main-nav .nav li.has-sub ul li a:hover {
            padding-left: 25px;
        }
        
        .header-area .main-nav .nav li.has-sub ul li a:hover:before {
            width: 3px;
        }
        
        .header-area .main-nav .nav li.has-sub:hover ul.sub-menu {
            visibility: visible;
            opacity: 1;
            z-index: 1;
            transform: translateY(0%);
            transition-delay: 0s, 0s, 0.3s;
        }
        
        .header-area .main-nav .menu-trigger {
            cursor: pointer;
            display: block;
            position: absolute;
            top: 33px;
            width: 32px;
            height: 40px;
            text-indent: -9999em;
            z-index: 99;
            right: 40px;
            display: none;
        }
        
        .background-header .main-nav .menu-trigger {
            top: 23px;
        }
        
        .header-area .main-nav .menu-trigger span,
        .header-area .main-nav .menu-trigger span:before,
        .header-area .main-nav .menu-trigger span:after {
            -moz-transition: all 0.4s;
            -o-transition: all 0.4s;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
            background-color: #1e1e1e;
            display: block;
            position: absolute;
            width: 30px;
            height: 2px;
            left: 0;
        }
        
        .background-header .main-nav .menu-trigger span,
        .background-header .main-nav .menu-trigger span:before,
        .background-header .main-nav .menu-trigger span:after {
            background-color: #1e1e1e;
        }
        
        .header-area .main-nav .menu-trigger span:before,
        .header-area .main-nav .menu-trigger span:after {
            -moz-transition: all 0.4s;
            -o-transition: all 0.4s;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
            background-color: #1e1e1e;
            display: block;
            position: absolute;
            width: 30px;
            height: 2px;
            left: 0;
            width: 75%;
        }
        
        .background-header .main-nav .menu-trigger span:before,
        .background-header .main-nav .menu-trigger span:after {
            background-color: #1e1e1e;
        }
        
        .header-area .main-nav .menu-trigger span:before,
        .header-area .main-nav .menu-trigger span:after {
            content: "";
        }
        
        .header-area .main-nav .menu-trigger span {
            top: 16px;
        }
        
        .header-area .main-nav .menu-trigger span:before {
            -moz-transform-origin: 33% 100%;
            -ms-transform-origin: 33% 100%;
            -webkit-transform-origin: 33% 100%;
            transform-origin: 33% 100%;
            top: -10px;
            z-index: 10;
        }
        
        .header-area .main-nav .menu-trigger span:after {
            -moz-transform-origin: 33% 0;
            -ms-transform-origin: 33% 0;
            -webkit-transform-origin: 33% 0;
            transform-origin: 33% 0;
            top: 10px;
        }
        
        .header-area .main-nav .menu-trigger.active span,
        .header-area .main-nav .menu-trigger.active span:before,
        .header-area .main-nav .menu-trigger.active span:after {
            background-color: transparent;
            width: 100%;
        }
        
        .header-area .main-nav .menu-trigger.active span:before {
            -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
            -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
            -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
            transform: translateY(6px) translateX(1px) rotate(45deg);
            background-color: #1e1e1e;
        }
        
        .background-header .main-nav .menu-trigger.active span:before {
            background-color: #1e1e1e;
        }
        
        .header-area .main-nav .menu-trigger.active span:after {
            -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
            -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
            -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
            transform: translateY(-6px) translateX(1px) rotate(-45deg);
            background-color: #1e1e1e;
        }
        
        .background-header .main-nav .menu-trigger.active span:after {
            background-color: #1e1e1e;
        }
        
        .header-area.header-sticky {
            min-height: 93px;
        }
        
        .header-area .nav {
            margin-top: 30px;
        }
        
        @media (max-width: 1026px) {
            .mobile-nav .navbar-toggle .icon-bar {
                display: inline-block;
            }
            .header-area.header-sticky .nav li a:hover,
            .header-area.header-sticky .nav li a.active {
                color: #f5a425!important;
                opacity: 1;
            }
            .header-area.header-sticky .nav li.search-icon a {
                width: 100%;
            }
            .header-area {
                background-color: #fff !important;
                padding: 0px 15px;
                height: 100px;
                box-shadow: none;
                text-align: center;
            }
            .header-area .container {
                padding: 0px;
            }
            .header-area .menu-trigger {
                display: none;
            }
            .header-area .main-nav {
                overflow: hidden;
            }
            .header-area .main-nav .nav {
                float: none;
                width: 100%;
                display: none;
                -webkit-transition: all 0s ease 0s;
                -moz-transition: all 0s ease 0s;
                -o-transition: all 0s ease 0s;
                transition: all 0s ease 0s;
                margin-left: 0px;
            }
            .header-area .main-nav .nav li:first-child {
                border-top: 1px solid #eee;
            }
            .header-area.header-sticky .nav {
                margin-top: 100px !important;
            }
            .header-area .main-nav .nav li {
                width: 100%;
                background: #fff;
                border-bottom: 1px solid #eee;
                padding-left: 0px !important;
                padding-right: 0px !important;
            }
            .header-area .main-nav .nav li a {
                height: 50px !important;
                line-height: 50px !important;
                padding: 0px !important;
                border: none !important;
                background: #f7f7f7 !important;
                color: #191a20 !important;
            }
            .header-area .main-nav .nav li a:hover {
                background: #eee !important;
                color: #f5a425!important;
            }
            .header-area .main-nav .nav li.has-sub ul.sub-menu {
                position: relative;
                visibility: inherit;
                opacity: 1;
                z-index: 1;
                transform: translateY(0%);
                top: 0px;
                width: 100%;
                box-shadow: none;
                height: 0px;
                transition: all 0s;
            }
            .header-area .main-nav .nav li.submenu ul li a {
                font-size: 12px;
                font-weight: 400;
            }
            .header-area .main-nav .nav li.submenu ul li a:hover:before {
                width: 0px;
            }
            .header-area .main-nav .nav li.has-sub ul.sub-menu {
                height: auto;
            }
            .header-area .main-nav .nav li.has-sub:after {
                color: #3B566E;
                right: 30px;
                font-size: 14px;
                top: 15px;
            }
            .header-area .main-nav .nav li.submenu:hover ul,
            .header-area .main-nav .nav li.submenu:focus ul {
                height: 0px;
            }
        }
        
        @media (min-width: 1026px) {
            .header-area .main-nav .nav {
                display: flex !important;
            }
        }
        
        .plastic-surgery {
            display: flex;
            height: 600px;
            /* Set a height to see the background */
            height: 622px;
        }
        
        .plastic-surgery .col-sm-3 .col-md-2 .col-lg-2 {
            padding: 0% 2%;
        }
        
        .ban-img {
            width: 100%;
            height: 522px;
            background-size: cover;
            margin-top: 100px;
        }
        
        .dot-container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .d-1 {
            display: inline-table;
            margin: auto;
            width: 75%;
            padding: 121px;
            margin-top: 290px;
            margin-left: 290px;
        }
        
        .d-2 {
            position: static;
            display: grid;
            margin: auto;
            width: 10%;
            padding: 195px;
            margin-top: 100px;
            margin-left: 100px;
        }
        
        .d-3 {
            display: inline-table;
            margin: auto;
            width: 80%;
            padding: 58px;
            margin-top: 300px;
            margin-left: 250px;
        }
        
        .d-4 {
            display: inline-table;
            margin: auto;
            width: 75%;
            padding: 121px;
            margin-top: 210px;
            margin-left: 320px;
        }
        
        .d-5 {
            display: inline-table;
            margin: auto;
            width: 75%;
            padding: 121px;
            margin-top: 374px;
            margin-left: 250px;
        }
        
        .dot {
            width: 20px;
            height: 20px;
            background-color: #3AAFB0;
            border-radius: 50%;
            margin: 0 10px;
            position: relative;
            cursor: pointer;
        }
        
        .dot::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #3AAFB0;
            opacity: 0.3;
            animation: pulse 3s infinite;
            animation-delay: 0.7s;
        }
        
        .dot::after {
            content: attr(data-text);
            position: absolute;
            top: 50%;
            right: 150%;
            /* Adjusted to appear on the left side */
            transform: translateY(-50%);
            opacity: 0;
            background: rgba(58, 175, 176, 0.8);
            /* Adjust the color and transparency */
            color: #fff;
            padding: 20px;
            /* Adjust the padding to make the text box slightly bigger */
            border-radius: 7px;
            white-space: nowrap;
            transition: opacity 0.3s ease;
        }
        
        .dot:hover::after {
            opacity: 1;
        }
        
        @keyframes pulse {
            0%,
            100% {
                transform: scale(1);
            }
            50% {
                transform: scale(2);
            }
        }
        
        .ban-text {
            margin: auto;
            width: 108%;
            height: 200px;
            margin-top: 30%;
        }
        
        .ban-text .plastic-head {
            color: #fff;
            font-weight: 700;
            font-family: "IBM plex sans Hebrew", sans-serif;
        }
        
        .ban-text .plastic-font {
            font-size: 71px;
        }
        
        .ban-text h1 {
            color: #fff;
        }
        
        .ban-arrow {
            display: flex;
            margin-top: 122px;
            margin-left: 50px;
        }
        
        @keyframes moveAndScale {
            0% {
                transform: translate(-50%, -50%) scale(1);
            }
            50% {
                transform: translate(-50%, -50%) scale(1.5);
            }
            100% {
                transform: translate(-50%, -50%) scale(1);
            }
        }
        
        .ban-arrow svg {
            position: absolute;
            height: 100px;
            animation: moveAndScale 3s infinite ease-in-out;
        }
        
        .ban-arrow .arrow-1 {
            display: flex;
        }
        
        .ban-arrow h1 {
            font-size: 20px;
        }
        
        .ban-arrow .left {
            margin-left: 50px;
        }
        
        .ban-arrow .border {
            border-left: 1px dashed #e5e8eb;
            margin-left: 30px;
            height: 32px;
        }
        
        .bg-cicle {
            display: flex;
            padding-top: 4%;
            height: 300px;
            opacity: 0.90;
        }
        
        .circle-container svg {
            padding: 3px 55px;
            margin: 0px 12px;
            margin-top: 33px;
        }
        
        .h-1:hover,
        .h-1:hover svg {
            background-color: #3aafb0;
            /* Change background color on hover */
            color: #fff;
        }
        
        .h-1:hover svg path {
            fill: #fff;
            /* Change fill color on hover */
        }
        
        .h-2:hover,
        .h-2:hover svg {
            background-color: #2E6A91;
            color: #fff;
            fill: #fff;
        }
        
        .h-3:hover,
        .h-3:hover svg {
            background-color: #966CA1;
            color: #fff;
            fill: #fff;
        }
        
        .h-4:hover,
        .h-4:hover svg {
            background-color: #E082AA;
            color: #fff;
            fill: #fff;
        }
        
        .h-5:hover,
        .h-5:hover svg {
            background-color: #8ABC8D;
            color: #fff;
            fill: #fff;
        }
        
        .inner-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .inner-circle h1 {
            font-size: 15px;
            font-weight: 800;
            width: 207px;
            margin: 16px 5px;
            text-align: center;
        }
        
        .circle-container {
            position: relative;
            width: 230px;
            height: 230px;
            border: 2px solid #93A7BA;
            border-radius: 50%;
            margin-left: 26px;
        }
        
        .half-circle {
            width: 259px;
            height: 147px;
            border: 2px dotted #3aafb0;
            border-top: transparent;
            border-radius: 0 0 161px 161px;
            margin-left: -16px;
            margin-top: 96px;
        }
        
        .half-circle::before {
            content: "";
            position: absolute;
            top: 98px;
            left: -21px;
            width: 11px;
            height: 11px;
            background-color: #3aafb0;
            border-radius: 50%;
        }
        
        .half-circle::after {
            content: "";
            position: absolute;
            top: 98px;
            left: 104%;
            width: 11px;
            height: 11px;
            background-color: #3aafb0;
            border-radius: 50%;
        }
        
        .half-circletop::before {
            content: "";
            position: absolute;
            display: block;
            top: 96px;
            left: 104%;
            width: 11px;
            height: 11px;
            background-color: #3aafb0;
            border-radius: 50%;
        }
        
        .half-circletop::after {
            content: "";
            position: absolute;
            display: block;
            top: 96px;
            left: -20px;
            width: 11px;
            height: 11px;
            background-color: #3aafb0;
            border-radius: 50%;
        }
        
        .half-circletop {
            width: 256px;
            height: 124px;
            border: 2px dotted #5aadae;
            border-bottom: transparent;
            border-radius: 130px 132px 0 0;
            margin-left: -15px;
            margin-top: -18px;
        }
        
        .pllastic-surgery .container {
            position: absolute;
            right: 0;
            /* Align the container to the right side */
            width: 76%;
            /* Adjust the width as needed */
            height: 100%;
            padding: 20px;
            /* Adjust the padding as needed */
            /* Additional styles for your container */
        }
        
        .plastic-text {
            font-family: 'Poppins';
            font-size: 17px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.71;
            letter-spacing: normal;
            text-align: justify;
            color: #524d4d;
            margin-top: 17px;
            text-align: right;
        }
        
        .uni-underline::before {
            content: "";
            position: absolute;
            top: 114px;
            left: 351px;
            width: 10px;
            height: 10px;
            background-color: #3aafb0;
            border-radius: 50%;
        }
        
        .uni-underline1::before {
            content: "";
            position: absolute;
            top: 86px;
            left: 94px;
            width: 10px;
            height: 10px;
            background-color: #3aafb0;
            border-radius: 50%;
        }
        
        .uni-underline2::before {
            content: "";
            position: absolute;
            top: 123px;
            left: 96px;
            width: 10px;
            height: 10px;
            background-color: #3aafb0;
            border-radius: 50%;
        }
        
        .uni-underline3::before {
            content: "";
            position: absolute;
            top: 87px;
            left: 70px;
            width: 10px;
            height: 10px;
            background-color: #3aafb0;
            border-radius: 50%;
        }
        
        hr {
            border-color: #bfbed5;
        }
        /* Add your existing styles here */
        /* Mobile Styles */
        
        @media only screen and (max-width: 505px) {
            .elementor-animation-shrink {
                margin-top: 0px!important;
            }
            .restylane_box {
                height: 435px!important;
            }
            .sculptra_box {
                height: 435px!important;
            }
            .cellbooster_box {
                height: 435px!important;
            }
            .uni-banner-default .breadcrumbs li a {
                font-size: 13px!important;
            }
            .mob_div {
                display: block!important;
            }
            .mobile_btn {
                display: block!important;
            }
            .mob_bt_l {
                display: block!important;
                background-color: #3aafb0!important;
                margin-left: 300px!important;
                color: #fff!important;
            }
            .ban-img {
                width: 100%!important;
            }
            .d-1 {
                display: inline-table;
                margin: auto;
                width: 75%;
                padding: 121px;
                margin-top: 85px!important;
                margin-left: 11px!important;
            }
            .d-5 {
                margin-top: 262px!important;
                margin-left: 48px!important;
            }
        }